# ETL

#### EXPLORACIÓN

In [1]:
#importing librarys

import pandas as pd
import numpy as np
import json
import ast
import warnings

# Ignorar todas las advertencias
warnings.filterwarnings("ignore")

In [2]:
#reading the dataset

df = pd.read_csv('./Datasets/movies_dataset.csv', dtype={'belongs_to_collection': str})

In [3]:
#understanding the data 

print(df.shape)
df.info()

(45466, 24)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [4]:
#first columns of the dataframe

df.head()[df.columns[:14]]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o..."

In [5]:
#rest of the columns

df.head()[df.columns[14:]]

,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

## TRANSFORMACIÓN

### 1 . desanidar campos
___

#### belongs_to_collection
______

In [6]:
df.iloc[0].belongs_to_collection

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [7]:

def fetch_name2(obj): 
    """
        La función fetch_name2 se encarga de obtener el nombre de un objeto si este es un diccionario en formato de cadena.
        Obtiene el nombre de un objeto si es un diccionario en formato de cadena.
            :param obj: Objeto a analizar.
             :return: Nombre del objeto.
    """

    if isinstance(obj, str) and '{' in obj:
        # si el objeto es una cadena y contiene un '{', se asume que es un diccionario en formato de cadena.
        # parseamos la cadena a un diccionario:
        dic = ast.literal_eval(obj)

        return dic['name']

In [8]:
''' 
    convertimos los valores de la columna 'belongs_to_collection' que son diccionarios
    en formato de cadena en solo los nombres correspondientes. 
'''

df['belongs_to_collection'] = df['belongs_to_collection'].apply(fetch_name2)

In [9]:
#con esto lo hacemos todo de una vez

'''
df['genres']                = df['genres'].apply(fetch_name)
df['belongs_to_collection'] = df['belongs_to_collection'].apply(fetch_name2)
df['production_companies']  = df['production_companies'].apply(fetch_name)
df['production_countries']  = df['production_countries'].apply(fetch_name)
df['spoken_languages']      = df['spoken_languages'].apply(fetch_name)
'''

"\ndf['genres']                = df['genres'].apply(fetch_name)\ndf['belongs_to_collection'] = df['belongs_to_collection'].apply(fetch_name2)\ndf['production_companies']  = df['production_companies'].apply(fetch_name)\ndf['production_countries']  = df['production_countries'].apply(fetch_name)\ndf['spoken_languages']      = df['spoken_languages'].apply(fetch_name)\n"

In [10]:
df.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,None,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

#### genres
______________________

In [11]:
df.iloc[0].genres

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [12]:
#quiero ver todo lo que dice la fila de genres para saber mas o menos cuantos son
print(df['genres'].tail(10))

45456    [{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...
45457    [{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...
45458                       [{'id': 27, 'name': 'Horror'}]
45459             [{'id': 878, 'name': 'Science Fiction'}]
45460    [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, dtype: object

In [13]:
# Convert 'genres' from JSON format to a list of genres
def parse_genres(genres_str):
    genres = json.loads(genres_str.replace("'", "\""))
    genres_list = [g['name'] for g in genres]
    return genres_list

df['genres'] = df['genres'].apply(parse_genres)

In [14]:
df.head(3)[df.columns[:6]]

,adult,belongs_to_collection,budget,genres,homepage,id
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862
1,False,None,65000000,"[Adventure, Fantasy, Family]",NaN,8844
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",NaN,15602

#### production_companies
_______

In [15]:
df.iloc[0].production_companies

"[{'name': 'Pixar Animation Studios', 'id': 3}]"

In [16]:

print(df['production_companies'].head(10))

0       [{'name': 'Pixar Animation Studios', 'id': 3}]
1    [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2    [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3    [{'name': 'Twentieth Century Fox Film Corporat...
4    [{'name': 'Sandollar Productions', 'id': 5842}...
5    [{'name': 'Regency Enterprises', 'id': 508}, {...
6    [{'name': 'Paramount Pictures', 'id': 4}, {'na...
7          [{'name': 'Walt Disney Pictures', 'id': 2}]
8    [{'name': 'Universal Pictures', 'id': 33}, {'n...
9    [{'name': 'United Artists', 'id': 60}, {'name'...
Name: production_companies, dtype: object

In [17]:
'''
    obtener una lista de nombres a partir de una cadena que representa una lista de diccionarios.
    la función comprueba si el objeto es una cadena y si contiene el carácter '{', lo cual indica que es
    una representación de una lista de diccionarios. Si se cumplen estas condiciones, se inicializa una lista vacía L.
    luego, se recorre cada elemento de la lista de diccionarios utilizando ast.literal_eval para convertir la cadena en una lista de diccionarios.
    dentro del bucle, se accede a cada diccionario y se obtiene el valor asociado a la clave 'name'. Este valor se agrega a la lista L
'''

def fetch_names(object):
    if isinstance(object, str) and '{' in object:
        L = []
        for i in ast.literal_eval(object):
            L.append(i['name'])
        return L

In [18]:
#aplico la misma funcion ya que tengo diccionarios en cadena

df['production_companies']  = df['production_companies'].apply(fetch_names)

In [19]:
df.head(3)[df.columns[10:14]]

,popularity,poster_path,production_companies,production_countries
0,21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,[Pixar Animation Studios],"[{'iso_3166_1': 'US', 'name': 'United States o..."
1,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[TriStar Pictures, Teitler Film, Interscope Co...","[{'iso_3166_1': 'US', 'name': 'United States o..."
2,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[Warner Bros., Lancaster Gate]","[{'iso_3166_1': 'US', 'name': 'United States o..."

#### prodution_countries
___

In [20]:
df.iloc[6].production_countries

"[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"

In [21]:
print(df['production_countries'].head(10))

0    [{'iso_3166_1': 'US', 'name': 'United States o...
1    [{'iso_3166_1': 'US', 'name': 'United States o...
2    [{'iso_3166_1': 'US', 'name': 'United States o...
3    [{'iso_3166_1': 'US', 'name': 'United States o...
4    [{'iso_3166_1': 'US', 'name': 'United States o...
5    [{'iso_3166_1': 'US', 'name': 'United States o...
6    [{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...
7    [{'iso_3166_1': 'US', 'name': 'United States o...
8    [{'iso_3166_1': 'US', 'name': 'United States o...
9    [{'iso_3166_1': 'GB', 'name': 'United Kingdom'...
Name: production_countries, dtype: object

In [23]:
#aplico la funcion fetch names:

df['production_countries'] = df['production_countries'].apply(fetch_names)

In [24]:
df.head(10)[df.columns[10:14]]

,popularity,poster_path,production_companies,production_countries
0,21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,[Pixar Animation Studios],[United States of America]
1,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[TriStar Pictures, Teitler Film, Int...",[United States of America]
2,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[Warner Bros., Lancaster Gate]",[United States of America]
3,3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[Twentieth Century Fox Film Corporat...,[United States of America]
4,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[Sandollar Productions, Touchstone P...",[United States of America]
5,17.924927,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,"[Regency Enterprises, Forward Pass, ...",[United States of America]
6,6.677277,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,"[Paramount Pictures, Scott Rudin Pro...","[Germany, United States of America]"
7,2.561161,/sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg,[Walt Disney Pictures],[United States of America]
8,5.23158,/eoWvKD60lT95Ss1MYNgVExpo5iU.jpg,"[Universal Pictures, Imperial Entert...",[United States of America]
9,14.686036,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,"[United Artists, Eon Productions]","[United Kingdom, United States of Am..."

#### spoken_languages
___

In [25]:
df.iloc[5].spoken_languages

"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]"

In [26]:
df['spoken_languages'] = df['spoken_languages'].apply(fetch_names)

In [27]:
df.head()[df.columns[13:19]]

,production_countries,release_date,revenue,runtime,spoken_languages,status
0,[United States of America],1995-10-30,373554033.0,81.0,[English],Released
1,[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released
2,[United States of America],1995-12-22,0.0,101.0,[English],Released
3,[United States of America],1995-12-22,81452156.0,127.0,[English],Released
4,[United States of America],1995-02-10,76578911.0,106.0,[English],Released

### 2 . valores nulos
____


##### Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   33585 non-null  object
 13  production_countries   39178 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       41631 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [29]:
# quiero saber los nulos de todas las columnas que son relevantes y no voy a elinar despues

print('los nulos de belongs_to_collection son', df['belongs_to_collection'].isnull().sum())
print('los nulos de budget son: ', df['budget'].isnull().sum())
print('los nulos de genres son', df['genres'].isnull().sum())
print('los nulos de id son: ', df['id'].isnull().sum())
print('los nulos de original_language son', df['original_language'].isnull().sum())
print('los nulos de popularity son: ', df['popularity'].isnull().sum())
print('los nulos de production_companies son', df['production_companies'].isnull().sum())
print('los nulos de production_countries son: ', df['production_countries'].isnull().sum())
print('los nulos de release_date son: ', df['release_date'].isnull().sum())
print('los nulos de revenue son', df['revenue'].isnull().sum())
print('los nulos de runtime son: ', df['runtime'].isnull().sum())
print('los nulos de spoken_languages son', df['spoken_languages'].isnull().sum())
print('los nulos de status son: ', df['status'].isnull().sum())
print('los nulos de tagline  son', df['tagline'].isnull().sum())
print('los nulos de title son: ', df['title'].isnull().sum())

los nulos de belongs_to_collection son 40975
los nulos de budget son:  0
los nulos de genres son 0
los nulos de id son:  0
los nulos de original_language son 11
los nulos de popularity son:  5
los nulos de production_companies son 11881
los nulos de production_countries son:  6288
los nulos de release_date son:  87
los nulos de revenue son 6
los nulos de runtime son:  263
los nulos de spoken_languages son 3835
los nulos de status son:  87
los nulos de tagline  son 25054
los nulos de title son:  6

In [52]:
#reemlazo los 6 nulos por 0:
df['budget'] = df['budget'].fillna(0)
df['revenue'] = df['revenue'].fillna(0)

In [54]:
#ahora los nulos que me pidieron

print('los nulos de budget son', df['budget'].isnull().sum())
print('los nulos de revenue son: ', df['revenue'].isnull().sum())
print('los nulos de release date son', df['release_date'].isnull().sum())

los nulos de budget son 0
los nulos de revenue son:  0
los nulos de release date son 3

##### Los valores nulos del campo release date deben eliminarse.

In [55]:
#elimimo los NaN de release date y con eso sus filas, tengo miedo

df = df.dropna(subset=['release_date'])

In [56]:
#RangeIndex: 45466 entries dataframe sin modificar
#los nulos de release date son 87

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45376 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45376 non-null  float64
 2   genres                 45376 non-null  object
 3   id                     45376 non-null  object
 4   original_language      45365 non-null  object
 5   overview               44435 non-null  object
 6   popularity             45376 non-null  object
 7   production_companies   33580 non-null  object
 8   production_countries   39165 non-null  object
 9   release_date           45376 non-null  object
 10  revenue                45376 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       41608 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  release_year           45376 non-null  float64
 18  return                 45376 non-null  float64
dtypes: float64(6), object(13)
memory usage: 6.9+ MB

In [57]:
print('los nulos de release date son', df['release_date'].isnull().sum())

los nulos de release date son 0

##### De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno.

In [58]:
print(df['release_date'].dtype)

object

In [59]:
#paso a datetime 
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce').dt.date

#aca paso el ano a una nueva columna
df['release_year'] = pd.to_datetime(df['release_date'], errors='coerce').dt.year

In [60]:
#chequeo que el tipo de variable sea datetime para release_date

print(df['release_date'].dtype)
print(df['release_year'].dtype)
df[['release_date', 'release_year']].head(5)

object
int32

  release_date  release_year
0   1995-10-30          1995
1   1995-12-15          1995
2   1995-12-22          1995
3   1995-12-22          1995
4   1995-02-10          1995

##### Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.

In [61]:
#chequear el tipo de variable que tengo

print(df['revenue'].dtype)
print(df['budget'].dtype)

float64
float64

In [40]:
#entonces convierto budget a float para poder dividirlos luego

df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
print(df['budget'].dtype)

float64

In [62]:
# Verificar si hay valores nulos en la columna 'revenue'

print(df['revenue'].isnull().sum())
print(df['budget'].isnull().sum())

0
0

In [63]:
#ahora si divido los valores y creo una columna

df['return'] = df['revenue'] / df['budget'].fillna(0)

In [43]:
#por alguna razon no me llenaba con 0 los NaN

df['return'] = df['return'].replace(np.nan, 0)

In [44]:
#imprimo para ver si hay coherencia

df[['budget', 'revenue', 'return']]

           budget      revenue     return
0      30000000.0  373554033.0  12.451801
1      65000000.0  262797249.0   4.043035
2             0.0          0.0   0.000000
3      16000000.0   81452156.0   5.090760
4             0.0   76578911.0        inf
...           ...          ...        ...
45460         0.0          0.0   0.000000
45462         0.0          0.0   0.000000
45463         0.0          0.0   0.000000
45464         0.0          0.0   0.000000
45465         0.0          0.0   0.000000

[45379 rows x 3 columns]

##### Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,vote_count,poster_path y homepage.

In [45]:
df = df.drop(labels = ['video', 'imdb_id', 'adult', 'original_title','vote_count', 'poster_path', 'homepage'], axis = 1)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45379 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45376 non-null  float64
 2   genres                 45379 non-null  object
 3   id                     45379 non-null  object
 4   original_language      45368 non-null  object
 5   overview               44438 non-null  object
 6   popularity             45377 non-null  object
 7   production_companies   33580 non-null  object
 8   production_countries   39165 non-null  object
 9   release_date           45376 non-null  object
 10  revenue                45379 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       41608 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  release_year           45376 non-null  float64
 18  return                 45379 non-null  float64
dtypes: float64(6), object(13)
memory usage: 6.9+ MB

In [47]:
pd.options.display.max_colwidth = 40
df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happi...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,1995.0,12.451801
1,None,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discove...,17.015539,"[TriStar Pictures, Teitler Film, Int...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excite...,Jumanji,6.9,1995.0,4.043035
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancie...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still...,Grumpier Old Men,6.5,1995.0,0.000000
3,None,16000000.0,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped o...",3.859495,[Twentieth Century Fox Film Corporat...,[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you b...,Waiting to Exhale,6.1,1995.0,5.090760
4,Father of the Bride Collection,0.0,[Comedy],11862,en,Just when George Banks has recovered...,8.387519,"[Sandollar Productions, Touchstone P...",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Norma...,Father of the Bride Part II,5.7,1995.0,inf

In [48]:
#buscar duplicados pero no hacer nada por las dudas

duplicates = df.duplicated(subset=['revenue', 'vote_average', 'runtime', 'belongs_to_collection','tagline','overview', 'title', 'status', 'id', 'original_language', 'popularity','release_date', 'release_year', 'budget' ], keep=False)
print("Número de filas duplicadas:", duplicates.sum())

Número de filas duplicadas: 25

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45376 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45376 non-null  float64
 2   genres                 45376 non-null  object
 3   id                     45376 non-null  object
 4   original_language      45365 non-null  object
 5   overview               44435 non-null  object
 6   popularity             45376 non-null  object
 7   production_companies   33580 non-null  object
 8   production_countries   39165 non-null  object
 9   release_date           45376 non-null  object
 10  revenue                45376 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       41608 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  release_year           45376 non-null  int32
 18  return                 10912 non-null  float64
dtypes: float64(5), int32(1), object(13)
memory usage: 6.8+ MB

## EXPORTACION

ahora guardo en un nuevo cvs para poder empezar con la API

In [50]:
#df.to_csv('Datasets/dataset_transformado.csv', index=False)