In [6]:
import pandas as pd

In [35]:
df = pd.read_csv('Datasets/dataset_limpio.csv')

In [36]:
df

,id,title,genres,overview,tagline,popularity,spoken_languages,vote_average,decade
0,862,Toy Story,"['Animation', 'Comedy', 'Family']","Led by Woody, Andy's toys live happily in his ...",,21.946943,['English'],7.7,1990.0s
1,8844,Jumanji,"['Adventure', 'Fantasy', 'Family']",When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,17.015539,"['English', 'Français']",6.9,1990.0s
2,15602,Grumpier Old Men,"['Romance', 'Comedy']",A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,11.712900,['English'],6.5,1990.0s
3,31357,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']","Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,3.859495,['English'],6.1,1990.0s
4,11862,Father of the Bride Part II,['Comedy'],Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,8.387519,['English'],5.7,1990.0s
...,...,...,...,...,...,...,...,...,...
45355,30840,Robin Hood,"['Drama', 'Action', 'Romance']","Yet another version of the classic epic, with ...",,5.683753,['English'],5.7,1990.0s
45356,111109,Century of Birthing,['Drama'],An artist struggles to finish his work while a...,,0.178241,[''],9.0,2010.0s
45357,67758,Betrayal,"['Action', 'Drama', 'Thriller']","When one of her hits goes wrong, a professiona...",A deadly game of wits.,0.903007,['English'],3.8,2000.0s
45358,227506,Satan Triumphant,[],"In a small town live two brothers, one a minis...",,0.003503,English,0.0,1910.0s
45359,461257,Queerama,[],50 years after decriminalisation of homosexual...,,0.163015,['English'],0.0,2010.0s

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45360 entries, 0 to 45359
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                45360 non-null  object
 1   title             45360 non-null  object
 2   genres            45360 non-null  object
 3   overview          45360 non-null  object
 4   tagline           45360 non-null  object
 5   popularity        45358 non-null  float64
 6   spoken_languages  45360 non-null  object
 7   vote_average      45358 non-null  float64
 8   decade            45360 non-null  object
dtypes: float64(2), object(7)
memory usage: 3.1+ MB

In [38]:
df.isnull().sum()

id                  0
title               0
genres              0
overview            0
tagline             0
popularity          2
spoken_languages    0
vote_average        2
decade              0
dtype: int64